In [31]:
!pip install bar_chart_race &> /dev/null

�R�O�y�k�����T�C

In [32]:
!pip install ipython-autotime &> /dev/null

�R�O�y�k�����T�C

In [33]:
import pandas as pd

In [34]:
# read a remote CSV file
data_url = 'https://raw.githubusercontent.com/alexzalox/NASAinYourNeighborhood/main/MERRA2.avgM_2d_pm25_admin0x.v01.19800101-20221231.csv'
df = pd.read_csv(data_url, header=13)
df.head(5)

,date,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,Falkland_Islands,French_Guiana,Guyana,...,Zambia,Zimbabwe,Cape_Verde,Sao_Tomé_and_Principe,Saint_Helena,Mauritius,Madagascar,Comoros,Mayotte,Seychelles
0,1980-01,6.0,2.8,3.8,6.2,4.9,3.8,8.4,6.7,5.1,...,4.0,3.0,14.6,0.0,6.2,9.9,4.0,7.6,0.0,0.0
1,1980-02,5.7,2.4,4.0,5.8,6.5,3.8,8.3,12.2,6.4,...,3.1,2.9,50.8,0.0,5.8,11.7,2.9,1.9,0.0,0.0
2,1980-03,5.4,2.3,3.5,6.3,6.9,3.6,9.4,6.8,5.8,...,2.9,2.9,15.4,0.0,5.4,10.2,3.5,3.3,0.0,0.0
3,1980-04,4.5,2.2,4.0,4.7,7.1,4.1,7.8,11.3,10.4,...,2.5,3.1,16.6,0.0,9.1,5.9,2.6,4.6,0.0,0.0
4,1980-05,3.5,2.9,3.9,4.1,3.8,4.6,7.1,7.1,6.0,...,3.1,3.4,15.4,0.0,7.3,9.1,3.0,6.0,0.0,0.0

In [35]:
# Observe the dtypes
df.dtypes

date           object
Argentina     float64
Bolivia       float64
Brazil        float64
Chile         float64
               ...
Mauritius     float64
Madagascar    float64
Comoros       float64
Mayotte       float64
Seychelles    float64
Length: 231, dtype: object

In [36]:
# Convert date string to datetime object
df['date'] = pd.to_datetime(df['date']) + pd.offsets.MonthEnd()

# Create a new column:"days_in_month" to recode the total days of the month
df['days_in_month'] = df.apply(lambda row: pd.Timestamp(year=row['date'].year, month=row['date'].month, day=1).days_in_month, axis=1)

df.head(5)

,date,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,Falkland_Islands,French_Guiana,Guyana,...,Zimbabwe,Cape_Verde,Sao_Tomé_and_Principe,Saint_Helena,Mauritius,Madagascar,Comoros,Mayotte,Seychelles,days_in_month
0,1980-01-31,6.0,2.8,3.8,6.2,4.9,3.8,8.4,6.7,5.1,...,3.0,14.6,0.0,6.2,9.9,4.0,7.6,0.0,0.0,31
1,1980-02-29,5.7,2.4,4.0,5.8,6.5,3.8,8.3,12.2,6.4,...,2.9,50.8,0.0,5.8,11.7,2.9,1.9,0.0,0.0,29
2,1980-03-31,5.4,2.3,3.5,6.3,6.9,3.6,9.4,6.8,5.8,...,2.9,15.4,0.0,5.4,10.2,3.5,3.3,0.0,0.0,31
3,1980-04-30,4.5,2.2,4.0,4.7,7.1,4.1,7.8,11.3,10.4,...,3.1,16.6,0.0,9.1,5.9,2.6,4.6,0.0,0.0,30
4,1980-05-31,3.5,2.9,3.9,4.1,3.8,4.6,7.1,7.1,6.0,...,3.4,15.4,0.0,7.3,9.1,3.0,6.0,0.0,0.0,31

In [37]:
# check the dtypes again
df.dtypes

date             datetime64[ns]
Argentina               float64
Bolivia                 float64
Brazil                  float64
Chile                   float64
                      ...
Madagascar              float64
Comoros                 float64
Mayotte                 float64
Seychelles              float64
days_in_month             int64
Length: 232, dtype: object

In [38]:
# set day counts of the month
df_month_total = df.iloc[:, 1:-1].multiply(df['days_in_month'], axis=0)
df_month_total.head(5)

,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,Falkland_Islands,French_Guiana,Guyana,Peru,...,Zambia,Zimbabwe,Cape_Verde,Sao_Tomé_and_Principe,Saint_Helena,Mauritius,Madagascar,Comoros,Mayotte,Seychelles
0,186.0,86.8,117.8,192.2,151.9,117.8,260.4,207.7,158.1,108.5,...,124.0,93.0,452.6,0.0,192.2,306.9,124.0,235.6,0.0,0.0
1,165.3,69.6,116.0,168.2,188.5,110.2,240.7,353.8,185.6,110.2,...,89.9,84.1,1473.2,0.0,168.2,339.3,84.1,55.1,0.0,0.0
2,167.4,71.3,108.5,195.3,213.9,111.6,291.4,210.8,179.8,102.3,...,89.9,89.9,477.4,0.0,167.4,316.2,108.5,102.3,0.0,0.0
3,135.0,66.0,120.0,141.0,213.0,123.0,234.0,339.0,312.0,114.0,...,75.0,93.0,498.0,0.0,273.0,177.0,78.0,138.0,0.0,0.0
4,108.5,89.9,120.9,127.1,117.8,142.6,220.1,220.1,186.0,114.7,...,96.1,105.4,477.4,0.0,226.3,282.1,93.0,186.0,0.0,0.0

In [39]:
# Create cumulative df
df_cumulated = df_month_total.cumsum()
df_cumulated['date'] = df['date']
df_cumulated.set_index('date', inplace=True)
df_cumulated.head(12)

,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,Falkland_Islands,French_Guiana,Guyana,Peru,...,Zambia,Zimbabwe,Cape_Verde,Sao_Tomé_and_Principe,Saint_Helena,Mauritius,Madagascar,Comoros,Mayotte,Seychelles
date,,,,,,,,,,,,,,,,,,,,,
1980-01-31,186.0,86.8,117.8,192.2,151.9,117.8,260.4,207.7,158.1,108.5,...,124.0,93.0,452.6,0.0,192.2,306.9,124.0,235.6,0.0,0.0
1980-02-29,351.3,156.4,233.8,360.4,340.4,228.0,501.1,561.5,343.7,218.7,...,213.9,177.1,1925.8,0.0,360.4,646.2,208.1,290.7,0.0,0.0
1980-03-31,518.7,227.7,342.3,555.7,554.3,339.6,792.5,772.3,523.5,321.0,...,303.8,267.0,2403.2,0.0,527.8,962.4,316.6,393.0,0.0,0.0
1980-04-30,653.7,293.7,462.3,696.7,767.3,462.6,1026.5,1111.3,835.5,435.0,...,378.8,360.0,2901.2,0.0,800.8,1139.4,394.6,531.0,0.0,0.0
1980-05-31,762.2,383.6,583.2,823.8,885.1,605.2,1246.6,1331.4,1021.5,549.7,...,474.9,465.4,3378.6,0.0,1027.1,1421.5,487.6,717.0,0.0,0.0
1980-06-30,894.2,611.6,823.2,970.8,993.1,734.2,1573.6,1493.4,1210.5,666.7,...,639.9,570.4,3948.6,0.0,1327.1,1577.5,574.6,879.0,0.0,0.0
1980-07-31,1043.0,937.1,1130.1,1091.7,1138.8,901.6,1756.5,1608.1,1368.6,824.8,...,856.9,678.9,4571.7,0.0,1730.1,1729.4,642.8,1046.4,0.0,0.0
1980-08-31,1309.6,1736.9,1536.2,1246.7,1272.1,1075.2,2016.9,1719.7,1514.3,1023.2,...,1070.8,830.8,5263.0,0.0,2006.0,1890.6,717.2,1185.9,0.0,0.0
1980-09-30,1861.6,3260.9,2004.2,1423.7,1404.1,1285.2,2382.9,1842.7,1670.3,1338.2,...,1298.8,1022.8,6283.0,0.0,2189.0,2007.6,807.2,1299.9,0.0,0.0
1980-10-31,2329.7,4724.1,2360.7,1603.5,1518.8,1465.0,2637.1,2010.1,1878.0,1530.4,...,1475.5,1187.1,7166.5,0.0,2375.0,2137.8,906.4,1392.9,0.0,0.0
1980-11-30,2545.7,5063.1,2543.7,1780.5,1632.8,1618.0,2955.1,2196.1,2055.0,1665.4,...,1577.5,1295.1,8459.5,0.0,2540.0,2254.8,1002.4,1527.9,0.0,0.0
1980-12-31,2713.1,5156.1,2686.3,1944.8,1763.0,1769.9,3150.4,2335.6,2197.6,1777.0,...,1664.3,1378.8,10428.0,0.0,2691.9,2412.9,1089.2,1605.4,0.0,0.0

In [40]:
# Remove the underscores in the country names
df_cumulated.columns = [col.replace('_', ' ') for col in df_cumulated.columns]

In [41]:
# write a df_year_cumulated.csv (for teammate used, this cell is no correlation with this notebook.)

# copy index from df to df_month_total
df_month_total['date'] = df['date']
df_month_total.set_index('date', inplace=True)

# # use resample('Y') to build a year-cumulated df
df_year_cumulated = df_month_total.resample('Y').sum().cumsum()
df_year_cumulated
# write a df_year_cumulated.csv
# df_year_cumulated.to_csv('./pm25_year_cumulated.csv', sep=',', index=True)

,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,Falkland_Islands,French_Guiana,Guyana,Peru,...,Zambia,Zimbabwe,Cape_Verde,Sao_Tomé_and_Principe,Saint_Helena,Mauritius,Madagascar,Comoros,Mayotte,Seychelles
date,,,,,,,,,,,,,,,,,,,,,
1980-12-31,2713.1,5156.1,2686.3,1944.8,1763.0,1769.9,3150.4,2335.6,2197.6,1777.0,...,1664.3,1378.8,10428.0,0.0,2691.9,2412.9,1089.2,1605.4,0.0,0.0
1981-12-31,5226.5,9630.6,5298.0,4016.8,3304.3,3625.5,6438.4,4629.0,4369.6,3485.0,...,3422.2,2784.4,22505.3,0.0,5288.5,4387.7,2161.6,3264.4,0.0,0.0
1982-12-31,7767.8,13833.2,7867.8,6000.8,5032.3,5343.0,9886.0,6770.3,6464.3,5016.1,...,5272.9,4247.0,33197.1,0.0,7653.5,6536.5,3188.8,4817.9,0.0,0.0
1983-12-31,10394.0,18170.3,10530.3,8050.8,6758.3,6780.7,13417.5,9188.2,8711.8,6851.2,...,7069.1,5701.4,44901.7,0.0,10365.2,8511.7,4294.4,6456.9,0.0,0.0
1984-12-31,12502.7,20937.4,12859.6,10048.3,8499.7,8472.4,16730.3,11503.9,10895.0,8445.4,...,8472.3,6911.6,56675.0,0.0,13313.8,10483.9,5341.9,8200.1,0.0,0.0
1985-12-31,14914.6,24710.7,15380.9,12186.2,10350.9,10391.8,20300.2,14429.0,13516.9,10212.9,...,9958.4,8080.8,68132.6,0.0,16084.7,12736.0,6453.1,10157.0,0.0,0.0
1986-12-31,17430.6,28497.2,18034.9,14314.2,12132.3,12205.9,24243.1,17562.2,16346.6,12056.6,...,11516.9,9416.6,81140.5,0.0,19082.7,14825.4,7577.7,11935.6,0.0,0.0
1987-12-31,20061.8,33278.8,21042.8,16335.0,13966.4,13919.4,27817.0,20456.6,19110.8,13871.7,...,13546.5,10955.7,92609.0,0.0,22581.6,17254.1,8815.7,13875.4,0.0,0.0
1988-12-31,22578.9,37487.9,23698.0,18536.3,15851.1,15772.7,31363.4,23177.0,21782.3,15862.7,...,14960.5,12216.0,104831.5,0.0,25536.8,19707.0,9983.7,15829.7,0.0,0.0
1989-12-31,25012.7,41301.7,26501.3,20810.7,17846.5,17778.0,35258.8,26990.2,24983.2,17715.9,...,16744.8,13711.1,117823.8,0.0,28967.4,22382.0,11237.9,18225.1,0.0,0.0
1990-12-31,28009.9,45565.0,29363.1,23066.3,19877.8,19871.6,39176.2,30102.6,27913.0,19560.0,...,19024.5,15591.1,130219.0,0.0,32489.7,24654.6,12634.2,20326.0,0.0,0.0
1991-12-31,30486.6,49877.5,32031.5,25048.0,21782.7,21635.4,42665.5,33088.9,30577.4,21464.5,...,20693.4,17071.3,139218.6,0.0,35123.1,26898.8,13849.9,22192.5,0.0,0.0
1992-12-31,32813.9,54873.0,34754.3,26829.8,23395.7,23090.9,45671.8,34994.4,32571.8,23168.1,...,22793.5,18777.6,148329.0,0.0,37316.4,28983.3,15017.5,23823.5,0.0,0.0
1993-12-31,35647.0,59460.3,37640.5,28867.2,24974.0,24645.8,49235.0,36949.9,34488.1,24941.6,...,24162.5,20015.2,158199.2,0.0,39667.2,31426.8,16246.8,25671.3,0.0,0.0
1994-12-31,37798.1,62447.8,39961.1,30884.3,26731.9,26185.1,52448.3,39407.5,36772.2,26605.4,...,25768.5,21410.1,170685.3,0.0,42765.3,33875.9,17524.1,28027.6,0.0,0.0
1995-12-31,40292.1,66150.0,42568.6,32928.5,28498.7,28074.1,55834.3,41969.0,39131.4,28407.7,...,27535.9,22979.1,182456.2,0.0,45586.5,36423.9,18817.4,30063.3,0.0,0.0
1996-12-31,42946.0,70081.7,45256.8,35084.8,30363.6,30019.1,59666.2,44778.9,41811.8,30220.4,...,29351.6,24563.6,192516.8,0.0,48666.0,39003.0,20172.3,32264.9,0.0,0.0
1997-12-31,44820.8,71720.5,47559.6,37164.0,32399.1,31829.1,62713.8,47926.4,44825.3,31897.1,...,32255.3,26494.7,205103.5,0.0,51968.1,41505.9,21678.2,34485.4,0.0,0.0
1998-12-31,46698.6,74474.4,50338.6,39383.6,34517.3,33672.2,66367.6,50809.0,47518.8,33587.6,...,35337.4,28658.6,217975.9,0.0,55992.2,44469.7,23418.4,37073.3,0.0,0.0
1999-12-31,48897.2,77145.3,52692.5,41622.9,36164.7,35393.5,70057.1,53470.9,49976.8,35283.0,...,38155.4,30478.1,229451.8,0.0,59421.1,46761.6,25016.9,39374.4,0.0,0.0
2000-12-31,51490.1,79857.3,55316.2,43810.8,38694.2,37785.5,73171.6,56823.7,52995.7,37263.8,...,41641.5,32832.6,242563.7,0.0,62700.0,49454.7,26658.5,41697.8,0.0,0.0
2001-12-31,54392.1,82596.2,58326.4,46029.4,41839.0,40252.7,76713.9,60658.9,56565.7,39243.7,...,45426.7,35762.4,252788.5,0.0,65916.1,51887.8,28761.9,44608.1,0.0,0.0
2002-12-31,57324.9,86084.1,61671.5,48086.2,44660.1,42750.7,79670.9,64183.9,59848.3,41272.8,...,48672.2,38531.8,263963.9,0.0,69064.7,54598.7,30523.9,47235.4,0.0,0.0
2003-12-31,60648.3,89619.3,65042.8,50373.2,48368.0,45706.6,83078.2,67817.4,63262.9,43769.0,...,51967.0,41235.8,274859.4,0.0,72405.9,57208.5,32443.8,50038.2,0.0,0.0
2004-12-31,63917.6,93972.6,68634.3,52653.3,51582.9,48817.4,86827.0,71303.6,66553.8,46374.7,...,55446.4,43926.9,284973.5,0.0,76008.8,59953.5,34309.2,52927.8,0.0,0.0
2005-12-31,67005.9,98385.2,72432.2,54974.9,54767.1,52249.9,90170.5,74406.1,69556.3,49440.8,...,58979.9,46951.9,296188.7,0.0,79828.0,62648.1,36400.1,55691.3,0.0,0.0
2006-12-31,70293.1,101767.8,75668.1,57404.2,57913.4,55085.8,94023.6,77754.8,72857.7,51864.5,...,62162.3,49666.5,305640.2,0.0,82857.9,65170.1,38283.5,58450.6,0.0,0.0
2007-12-31,73850.7,106426.6,79787.2,59819.4,61539.4,58225.4,97760.0,81853.4,76700.6,54719.2,...,65793.7,52601.9,317415.2,0.0,86076.7,67897.0,40334.2,61460.9,0.0,0.0
2008-12-31,77174.3,109400.3,82929.4,62235.1,64728.5,60842.0,101390.5,85390.4,80049.5,56998.0,...,69525.6,55935.1,329638.5,0.0,89373.7,70498.5,42323.0,64277.6,0.0,0.0
2009-12-31,80495.5,111749.1,85816.8,64872.1,68042.8,63492.9,105296.1,88752.5,83279.4,59064.3,...,72603.2,58550.2,338654.2,0.0,92467.7,73067.4,44385.2,67025.2,0.0,0.0
2010-12-31,83827.0,116271.5,89461.4,67354.1,71563.4,66560.2,109413.8,91968.8,86545.8,61902.2,...,75759.9,61419.4,346915.5,0.0,95897.6,75473.0,46390.4,69694.6,0.0,0.0
2011-12-31,87364.7,119072.4,92292.4,69983.6,74437.3,69272.9,113308.5,95182.5,89600.4,64187.3,...,79152.0,64429.8,357163.7,0.0,99201.9,77607.2,48567.5,72536.4,0.0,0.0
2012-12-31,90556.5,121641.4,95511.4,72508.9,77671.6,71802.9,117145.7,98873.1,93256.2,66447.4,...,82742.2,67337.9,369828.2,0.0,102485.8,80063.7,50522.7,75550.5,0.0,0.0
2013-12-31,93727.0,123976.0,98235.8,75022.1,80994.3,74458.5,121015.9,101880.5,96273.8,68613.6,...,85918.5,70096.4,380955.5,0.0,105725.0,82560.0,52633.7,78313.9,0.0,0.0
2014-12-31,96408.0,126350.4,101160.2,77397.3,84649.1,77105.4,124759.3,105328.3,99695.9,70792.3,...,89075.8,72729.4,391099.1,0.0,108467.6,84856.4,54628.3,81250.5,0.0,0.0
2015-12-31,99651.2,129373.9,104805.4,79996.4,88507.3,79682.4,128575.1,109276.2,103415.3,73110.9,...,92681.3,75844.8,405772.1,0.0,111529.8,87401.3,56762.8,84760.6,0.0,0.0
2016-12-31,102701.7,132440.4,108090.4,82394.9,92277.6,82471.4,132039.3,113004.1,106925.6,75648.2,...,96046.0,78737.8,417777.8,0.0,114471.8,89780.5,58873.4,87710.8,0.0,0.0
2017-12-31,105611.9,136017.4,111668.9,84833.1,95816.5,85026.0,135684.1,116806.8,110561.6,78357.7,...,99719.4,81645.3,430464.0,0.0,117364.3,92126.4,60944.0,90538.9,0.0,0.0
2018-12-31,108704.2,139022.7,114787.8,87185.8,99329.6,87749.9,139569.8,120605.7,114045.0,80913.8,...,103465.8,84783.1,443361.3,0.0,120268.0,94716.2,63058.0,93703.3,0.0,0.0
2019-12-31,111768.3,142665.2,118286.6,89567.7,103267.2,90383.0,143122.8,124624.8,117837.0,83592.2,...,107264.6,87897.0,455152.6,0.0,123337.2,97231.8,65137.0,96714.4,0.0,0.0
2020-12-31,115302.2,147280.3,122029.1,92100.1,107296.8,93252.8,146922.9,128590.4,121759.8,86607.7,...,111193.2,90915.2,469121.2,0.0,126326.5,99841.1,67137.6,99665.2,0.0,0.0
2021-12-31,118326.3,150962.4,125389.4,94450.4,110506.2,95821.6,150745.4,132532.5,125572.0,89205.4,...,114996.0,94089.7,481798.2,0.0,129241.5,102233.1,69146.6,102556.0,0.0,0.0
2022-12-31,121534.4,155239.6,129182.5,97013.8,114116.5,99234.4,154600.1,136068.6,129099.8,92427.0,...,119384.8,97416.4,493653.7,0.0,132732.9,105055.0,71225.8,105819.4,0.0,0.0

In [11]:
# Remove countries that never ranked in the top 20
country_reserved = set()
for index, row in df_cumulated.iterrows():
    country_reserved |= set(row[row > 0].sort_values(ascending=False).head(20).index)
df_cumulated = df_cumulated[list(country_reserved)]

In [12]:
# Observe the shape, now we only have 28 countries left
df_cumulated.shape

(516, 38)

In [13]:
%load_ext autotime
import bar_chart_race as bcr

time: 3.73 ms (started: 2023-10-07 12:07:50 +00:00)

In [ ]:
# make a Racing Bar Chart
%load_ext autotime
bcr.bar_chart_race(
    df=df_cumulated,
    n_bars=20,
    period_fmt='%B %d, %Y',
    title='Top 20 countries with the highest cumulative PM2.5.(1980-2022)'
)

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime

/usr/local/lib/python3.10/dist-packages/bar_chart_race/_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
/usr/local/lib/python3.10/dist-packages/bar_chart_race/_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))